.box{
  width: 300px;
  height: 450px; 
  border: 1px solid gray;
  box-shadow: 10px 5px 10px 5px grey;
  background-image: url("img/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 300px 150px;
  margin-top: 100px;
  background-attachment: scroll;
  overflow-y: scroll;
}

.icon {
    color: white;
    margin-left: 240px;
    font-size: 20px;
    margin-top: 10px;
}

#edit {
    display: none;
}


.fa-plus-circle {
    color: blue;
    margin-left: -20px;
}
ul {
    list-style: circle;
    margin-left: 50px;
}
ul li {
    font-family: cursive;
    font-weight: bolder;
    margin-right: 70px;
    color: blue;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 15px;
  font-family: cursive;
  font-weight: bolder;
}

.hr {
    margin-top: 20px;
}

#date {
    margin-top: 80px;
    font-size: 30px;
    color: white;
}

.btn {
    width: 30px;
    background: url("img/Del.png");
    background-size: 30px 20px;
    background-repeat: no-repeat;
    height: 20px;
    background-color: red;
    outline: none;
    border: none;
}

.btn1 {
    width: 30px;
    background: url("img/Edit.png");
    background-size: 30px 20px;
    background-repeat: no-repeat;
    height: 20px;
    border: none;
    outline: none;
}